<% provide(:title, "About Us") %>
<h1>About EventHero</h1>
<p>EventHero is for people who love creating and organizing events, but hate the tedious aspects of collecting money, getting everyone's input, and getting their guests to commit.  Eventhero solves this problem by creating a simple platform for Planning, Inviting, Getting Feedback, and Collecting Money.  Start planning with Eventhero today for guaranteed successful events.
</p>
