<% provide(:title, "Contact Us") %> 
<h1>Contact Us</h1>
<p>
	If you have any questions or you want to talk to the creator of EventHero, send me an <a href="mailto:scott.bold@gmail.com">email.</a>
</p>
