<% provide(:title, "Home") %>
<div class="center hero-unit">
	<h1>Welcome to EventHero</h1>
	<h2>
		The easiest way for normal people to plan amazing events!
	</h2>
</div>

<div class="row">
	<div class="span8 offset2 center">
		<h2>
			Sign up to Create Your First Event!
		</h2>
	</div>
	<div class="row">
		<div class="span4 offset2 center">
			<%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
		</div>
		<div class="span4 center">
			<%= link_to "FB Sign Up", comingsoon_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>
</div>


